@model IEnumerable<HabitAqui_Software.Models.RentalContract>

@{
    ViewData["Title"] = "Index";
}

<h1>Arrendamentos do Locador: @ViewBag.locadorName</h1>


@using (Html.BeginForm("Search", "RentalContracts", FormMethod.Post, new { @class = "rounded p-4 mb-5 shadow bg-dark" }))
{

    <div class="row">

        <div class="col-md-3">
             <label for="startDate">Data de Início:</label>
             <input type="date" name="startDate" class="form-control">
        </div>
        <div class="col-md-3">
             <label for="endDateAvailability">Data de Fim:</label>
             <input type="date" name=" endDateAvailability" class="form-control">
        </div>
       
        <div class="col-md-3">
            <label for="HabitacaoId">Localização:</label>
            <input name="location" class="form-control" placeholder="Digite a localização">
        </div>
        <div class="col-md-3">
            <label for="UserId">Cliente:</label>
            <input name="cliente" class="form-control" placeholder="Nome cliente">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mt-3">
            <input type="checkbox" name="isConfirmed" value="true" class="form-check-input" id=" sortByAlphabet">
            <label class="form-check-label" for="isConfirmed">Confirmado</label>
        </div>

    </div>
    <div class=" mt-3">
        <button type="submit" value="Search" class="btn btn-primary btn-sm tb-btn">Pesquisar</button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary tb-btn">Adicionar arrendamento</a>
</p>
<div class="table-responsive">

    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    Data Início
                </th>
                <th>
                    Data Fim
                </th>
                <th>
                    Confirmação
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.habitacao)
                </th>
                <th>
                    Ações
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        @if (item.isConfirmed)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.user.firstName) @Html.DisplayFor(modelItem => item.user.lastName)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-sm btn-primary tb-btn" asp-controller="Habitacoes" asp-route-id="@item.habitacao.Id"><i class="fa-sharp fa-solid fa-eye" style="color: #ffffff; margin-right: 5px"></i>@item.habitacao.location</a>
                        </td>
                            @if (!item.isConfirmed)
                            {
                            <td>
                                <a asp-action="Confirm" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"><i class="fa-solid fa-check"></i></a>
                                <a asp-action="DeleteConfirmed" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"></i></a>
                            </td>
                            }
                            else
                            {
                            <td>
                                <a asp-action="Receive" class="btn btn-sm btn-primary tb-btn" asp-route-id="@item.Id" >Receber do Cliente</a>
                            </td>
                            }
                        <td>
                            <a asp-action="Details" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                   <td colspan="9">Nenhum item encontrado</td>
                </tr>
            }
        
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-dark" role="document">

        <div class="modal-content bg-dark text-light">

            <div class="modal-header">
                <h5 class="modal-title text-light" id="confirmModalLabel">Confirmação</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja confirmar o arrendamento?
            </div>
            <div class="modal-footer">
                <form asp-action="Confirm">
                    <input type="hidden"/>
                    <button type="submit" class="btn btn-danger">Sim, confirmar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
