@model IEnumerable<HabitAqui_Software.Models.Locador>

@{
    ViewData["Title"] = "Index";
}

<h1>Locadores</h1>
<hr />
<br />

 @using (Html.BeginForm("Search", "Locador", FormMethod.Post, new { @class = "rounded p-4 mb-5 shadow bg-dark" }))
    {   

        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label for="location">Nome do locador:</label>
                    <input name="name" class="form-control" placeholder="Digite o nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="enrollmentState">Tipo de Subscrição</label>
                    <select name="enrollmentState" class="form-control">
                        <option value="0">Todos os Tipos</option>
                        @foreach (var h in ViewBag.StatusInfo)
                        {
                            <option value="@h.Id">@h.name</option>
                        }
                    </select>
                </div>
            </div>  
        </div>
        <div class="form-check mt-2">
        <input type="checkbox" name="sortByAlphabet" class="form-check-input" value="true" id=" sortByAlphabet">
            <label class="form-check-label" for="sortByAlphabet">Ordenar por ordem alfabética</label>
        </div>
        <div class=" mt-2">
            <button type="submit" value="Search" class="btn btn-primary btn-sm tb-btn">Pesquisar</button>
        </div>
    }

<p>
    <a asp-action="Create" class="btn btn-primary tb-btn">Adicionar locador</a>
</p>

<table class="table table-responsive table text-center">
    <thead>
        <tr>
            <th>
              nome
            </th>
            <th>
               empresa
            </th>
            <th>
              Morada/localização
            </th>
            <th>
              email
            </th>
            <th>
                Estado de subscrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.enrollmentState.name)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"> <i class="fa-solid fa-pencil"></i></a>
                        <a asp-action="Delete" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }

        }else{
            <tr>
                    <td colspan="9">Nenhum item encontrado.</td>
            </tr>
        }

    </tbody>
</table>
