@model IEnumerable<HabitAqui_Software.Models.Category>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias de Habitação</h1>
<hr />
<br />
<p>
    <a asp-action="Create" class="btn btn-primary tb-btn">Adicionar categoria</a>
</p>
<br />
<table class="table-responsive table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
             <td>
                    <a asp-action="Edit" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id">
                    <i class="fa-solid fa-pencil"></i></a>
                    <a asp-action="Details" class="btn btn-outline-dark rounded-circle" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                    <a asp-action="Delete" class="btn btn-outline-dark rounded-circle " asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr>
    }
    </tbody>
</table>
