@model IEnumerable<HabitAqui_Software.Models.Habitacao>
@{
    ViewData["Title"] = "Habitações";
}

<div class="text-center">
    <h2 class="display-4">Habitações</h2>
    <br />    <br />

    <div class="d-flex align-items-left  btn-group">
        <button id="toggleFilter" class="btn btn-primary tb-btn"  style="margin-left: 3px">Filtrar</button>
        &ensp;
        <button type="button" class="btn tb-btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por
        </button>
    </div>

    <br />

    <form action="#" method="post" id="filterForm" class="rounded p-4 mb-5 shadow bg-dark">
        <h2 class="text-center mb-4">Filtros de Pesquisa</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="localizacao">Localização:</label>
                    <input type="text" class="form-control" id="localizacao" name="localizacao" placeholder="Digite a localização">
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo de Habitação:</label>
                    <select class="form-control" id="tipo" name="tipo">
                        <option value="todos">Todos os Tipos</option>
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo2">Tipo 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="periodoMinimo">Período Mínimo (dias):</label>
                    <input type="number" class="form-control" id="periodoMinimo" name="periodoMinimo">
                </div>
                <div class="form-group">
                    <label for="locador">Locador:</label>
                    <input type="text" class="form-control" id="locador" name="locador" placeholder="Digite o Locador">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataInicio">Data de Início:</label>
                    <input type="date" class="form-control" id="dataInicio" name="dataInicio">
                </div>
                <div class="form-group">
                    <label for="dataFim">Data de Fim:</label>
                    <input type="date" class="form-control" id="dataFim" name="dataFim">
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria de Habitação:</label>
                    <select class="form-control" id="categoria" name="categoria">
                        <option value="todas">Todas as Categorias</option>
                        <option value="categoria1">Categoria 1</option>
                        <option value="categoria2">Categoria 2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary tb-btn">Pesquisar</button>
        </div>

    </form>

    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Localização</th>
                    <th>Locador</th>
                    <th>Categoria</th>
                    <th>Aluguer</th>
                    <th>Avaliação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.locador.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rentalCost) €
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.grade) <i class="fa-solid fa-star"></i>
                            </td>
                            <td style="padding:10px">
                                <a asp-action="Details" class="btn btn-sm btn-primary tb-btn" asp-route-id="@item.Id"> <i class="fa-sharp fa-solid fa-plus" style="color: #ffffff; margin-right: 5px"></i>Informação</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">Nenhum item encontrado.</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
       </div>
    <div class="text-center">
        <p>@(ViewBag.CurrentPage) / @(ViewBag.TotalPages)</p>
        @if (ViewBag.CurrentPage > 1)
        {
            <a asp-action="Index" class="btn btn-sm btn-primary tb-btn" asp-route-page="@(ViewBag.CurrentPage - 1)" class="btn btn-outline-secondary">Anterior</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a asp-action="Index" class="btn btn-sm btn-primary tb-btn" asp-route-page="@(ViewBag.CurrentPage + 1)" class="btn btn-outline-secondary">Próxima</a>
        }
        <br />
        <br />
    </div>
</div>
