@model HabitAqui_Software.Models.Habitacao

@{
    ViewData["Title"] = "Details";
}

<h2 class="display-4">Detalhes da Habitação nº @Html.DisplayFor(model => model.Id)</h2>
<br />
<hr />
<br />
<br />

<div class="table-responsive table-striped">
    <dl class="row table table-striped text-center p-4">

        <dt class="col-sm-6"><b>Localização</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.location)</dd>

        <dt class="col-sm-6"><b>Custo do Aluguer</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.rentalCost) €</dd>

        <dt class="col-sm-6"><b>Nome do Locador</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.locador.name)</dd>

        <dt class="col-sm-6"><b>Data Início do período do aluguer</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.startDateAvailability)</dd>

        <dt class="col-sm-6"><b>Data Fim do período do aluguer</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.endDateAvailability)</dd>

        <dt class="col-sm-6"><b>Avaliação</b></dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.grade) <i class="fa-solid fa-star"></i></dd>
    </dl>
</div>

<div>
    <a class="btn btn-sm btn-primary tb-btn" asp-action="Index">Voltar</a>
</div>
