@model IEnumerable<HabitAqui_Software.Models.Habitacao>
@{
    ViewData["Title"] = "Habitações";
}

<h1>Habitações</h1>
<hr />
<br />
<div class="text-center">

    <div class="d-flex align-items-left  btn-group">
        <button id="toggleFilter" class="btn btn-primary tb-btn" style="margin-left: 3px">Filtrar</button>
    </div>

    <br />

    @using (Html.BeginForm("Search", "Habitacoes", FormMethod.Post, new { id = "filterForm", @class = "rounded p-4 mb-5 shadow bg-dark" }))
    {
        <h2 class="text-center mb-4">Filtros de Pesquisa</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="location">Localização:</label>
                    <input name="location" class="form-control" placeholder="Digite a localização">
                </div>
                <div class="form-group">
                    <label for="category">Tipo de Habitação:</label>
                    <select name="category" class="form-control">
                        <option value="*">Todos os Tipos</option>
                        @foreach (var category in ViewBag.Category)
                        {
                            <option value="@category.Id">@category.name</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label for="minimumRentalPeriod">Período Mínimo (dias):</label>
                    <input type="number" name="minimumRentalPeriod" class="form-control">
                </div>
                <div class="form-group">
                    <label for="locador">Locador:</label>
                    <input name="locador" class="form-control" placeholder="Digite o Locador">
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="startDateAvailability">Data de Início:</label>
                    <input type="date" name="startDateAvailability" class="form-control">
                </div>
                <div class="form-group">
                    <label for="endDateAvailability">Data de Fim:</label>
                    <input type="date" name=" endDateAvailability" class="form-control">
                </div>
                <br>

                <button id="toggleOrder" type="button" class="btn tb-btn btn-primary dropdown-toggle align-items-left " data-bs-toggle="dropdown" aria-expanded="false">
                    Ordenar por
                </button>
                <div class="form-group mt-3" id="orderForm">
                    <label for="price">Ordenar por Preço:</label>
                    <select name="price" class="form-control">
                        <option value="defaultPrice">Nenhum</option>
                        <option value="lowPrice">Preço mais baixo</option>
                        <option value="highPrice">Preço mais alto</option>
                    </select>
                    <label for="grade">Ordenar por Classificação:</label>
                    <select name="grade" class="form-control ">
                        <option value="defaultGrade">Nenhum</option>
                        <option value="lowClassification">Classificação mais baixa</option>
                        <option value="highClassification">Classificação mais alta</option>
                    </select>
                </div>

            </div>
        </div>
        <div class=" mt-5">

            <button type="submit" value="Search" class="btn btn-primary btn-lg tb-btn">Pesquisar</button>
        </div>
    }


    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Localização</th>
                    <th>Locador</th>
                    <th>Categoria</th>
                    <th>Aluguer</th>
                    <th>Avaliação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.location
                            </td>
                            <td>
                                @item.locador.name
                            </td>
                            <td>
                                @item.category.name
                            </td>
                            <td>
                                @item.rentalCost €
                            </td>
                            <td>
                                @item.grade <i class="fa-solid fa-star"></i>
                            </td>
                            <td style="padding:10px">
                                <a asp-action="Details" class="btn btn-sm btn-primary tb-btn" asp-route-id="@item.Id"> <i class="fa-sharp fa-solid fa-plus" style="color: #ffffff; margin-right: 5px"></i>Informação</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">Nenhum item encontrado.</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>
