@model HabitAqui_Software.Models.Habitacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div>
    <h4>Habitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDateAvailability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDateAvailability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDateAvailability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDateAvailability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minimumRentalPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minimumRentalPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maximumRentalPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maximumRentalPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grade)
        </dd>
    </dl>
    <a asp-action="Index" class="btn btn-primary tb-btn">Voltar</a>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-dark" role="document">

        <div class="modal-content bg-dark text-light">

            <div class="modal-header">
                <h5 class="modal-title text-light" id="deleteModalLabel">Confirmação</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja eliminar a categoria?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Sim, Eliminar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
